<div class="center_column col-xs-12 col-sm-12 col-md-8 col-lg-9">

  <div class="left_block col-xs-12 col-sm-6">
    <div class="tieu_de_index">
      <h2 class="title_block">
        BLOG CUA TOI
      </h2>
    </div>
    <article class="first_new new_item" role="article">
      <div class="new_image">
        <a href="#">
          <%= image_tag("demo.jpg")%>
        </a>
      </div>
      <div class="new_content">
        <h2 class="new_title">
          <a href="#">Are your internet-connected devices spying on you?</a>
        </h2>
        <div class="new_meta">
          <span class="date">14-10-2016  01:30:00</span>
        </div>
          <div class="new-description">
            <p>Due to lax credential security, hackers can compromise IoT devices and then use them to mount attacks "against a multitude of Internet targets and Internet-facing services, like HTTP, SMTP and network scanning," and to mount attacks against internal networks that host these connected devices.Once hackers access the web administration console of vulnerable devices, it is possible for them to compromise the device's data and, in some cases, fully take over the affected machine.</p>
          </div>
        <div class="box_viewmore">
          <a href="#">Doc tiep
        </a></div>
      </div>
    </article>
  </div>
</div>


<div class="right_block col-xs-12 col-sm-6">
  <div class="news_more">
    <article class="new_item" role="article">
      <div class="new_image2">
        <a href="#">
          <div class="img-responsive">
            <%= image_tag ("demo_item.jpg")%>
          </div>
        </a>
      </div>
      <div class="new_content">
        <h2 class="new_title">
          <a href="#">Em nhớ anh hôm nay nữa thôi</a>
        </h2>
        <div class="new_meta">
          <span class="date">14-10-2016  01:23:00</span>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="clearfix"></div>
