<% categories.each do |category, children| %>
    <% if category %>
      <% if @category_roots.include? category %>
        <option data-divider="true"></option>
      <% end %>
      <option value="<%= category.id %>">
        <%= "....." * category.level + category.name %>
      </option>
      <%= render "shared/select_category", categories: children %>
    <% end %>
<% end %>
