.panel-posts{
  margin-top: 5px;
}

.field{
  margin-top: 10px;
}
.form-inline .width_text_field_search {
  width: 3  0%;
}

.column-title-width {
  width: 45%;
}

.column-created_at-width {
  width: 20%;
}

.column-status-width {
  width: 15%;
}

.column-action-width {
  width: 20%;
}

.status-waiting {
  background-color: #A9F5F2;
}

.status-accepted {
  background-color: #82FA58;
}

.status-reject {
  background-color: #F78181;
}

#post_search{
  margin-top: 10px;
}

.table-post{
  margin-top: 20px;
}

.panel-posts{
  margin-top: 5px;
}

.field{
  margin-top: 10px;
}
