.menu-action li{
  float:left;
  display: inline;
  list-style: none;
  margin-left: 10px;
}

.btn-action{
  border: none;
  background: transparent;
  color: #888;
}

.column-index {
  width: 8%;
}

.column-name-user-width {
  width: 20%;
}

.column-user-name-width {
  width: 20%;
}

.column-email-width {
  width: 22%;
}

.column-role-status-width {
  width: 6%;
}

.column-action-width {
  width: 18%;
}

.status-active {
  background-color: #82FA58;
}

.status-blocked {
  background-color: #F78181;
}
