.all-confessions{
  float: left;
  .one-confession{
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    .framgia-confession{
      border-radius: 5px;
      .framgia{
        width: 8%;
        height: 8%;
        margin-bottom: 1%;
      }
      .time-updated-confess{
        margin: auto;
        float: right;
      }
    }
  }
}
.confession-create{
  min-height: 400px;
  margin-top: 20px;
  border-radius: 5px;
  float: left;
  box-shadow: 10px 10px 5px #888888;
  background-color: #ffffff;
  .confess-banner{
    margin-top: 5%;
    width: 100%;
  }
  .confession-slogan{
    margin: 10px;
  }
  .form-confession{
    margin-top: 10px;
    margin-bottom: 10px;
    #confession_content{
      min-height: 200px;
      box-shadow: 10px 10px 5px #888888;
    }
    .submit-confess{
      box-shadow: 10px 10px 5px #888888;
      margin-top: 10px;
    }
  }
}
