@import url(http://fonts.googleapis.com/css?family=Montserrat);

#register {
  margin: 20vh auto;
  width: 340px;
  #box-form
  {
    padding: 20px 40px;
    background-color: #fff;
    width:340px;
    position:relative;
    box-shadow:1px 1px 8px #401eff;

    .btn-social {
      width: 49%;
    }

    #login-success, #register-success {
      color: green;
      font-weight: bold;
    }

    #register-errors {
      text-align: left;
    }
  }

  #box-form #title
  {
    text-align:center;
  }

  #box-form form
  {
    margin-top:20px;
    text-align:center;
  }

  .text
  {
    padding:10px;
    width: 100%;
    margin-top:10px;
    border-style:none;
    border-bottom-style:solid;
    border-color: #007eff;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    color: #0010ff;
    background-color: #cefffa;
  }

  .text:focus
  {
    background-color: rgba(255,255,255,0.2);
    border-style:none;
    outline: none; /* to delete blue outline*/
  }

  .password
  {
    margin-bottom:5px;
  }

  #rememberMe
  {
    float:left;
  }

  form label
  {
    float:left;
    margin-left:5px;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
  }

  #pwd
  {
    margin-bottom:15px;
  }

  .button
  {
    padding:10px;
    width: 100%;
    background: linear-gradient(to bottom, #437dff 0%, #005794 100%);
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    border-style:none;
    box-shadow:1px 1px #1b72f4;
    cursor:pointer;
    color:white;
    font-weight:bold;
    margin:20px 0;
  }
}

.reset-passwprd-form{
  background-color: cornflowerblue;
  border-radius: 5px;

  #email_user{
    border-radius: 5px;
  }

  .sendmail_reset{
    border-radius: 5px !important;
    margin-top: 10px;
  }
}

.new-password-form{
  min-height: 300px;
  border-radius: 5px;
  background-color: cornflowerblue;
  #user_password, #user_password_confirmation{
    border-radius: 5px;
  }
  .submit-change-password{
    border-radius: 5px !important;
    margin-top: 10px;
  }
}

.edit_user{
  border-radius: 5px;
  margin-top: 5px;
  background-color: cornflowerblue;
  #user_name, #user_email, #user_password, #user_password_confirmation,
  #user_current_password{
    border-radius: 5px !important;
  }
  .avatar{
    margin-left: 50px;
  }
}

.edit_admin_user{
  border-radius: 5px;
  margin-top: 5px;
  background-color: #64ed88;
  #admin_user_name, #admin_user_email, #admin_user_password,
  #admin_user_password_confirmation, #admin_user_current_password{
    border-radius: 5px !important;
  }
  .avatar{
    margin-left: 50px;
  }
}
