#navbar-user {
  background-color: #1f83ff;
  border: 1px solid #1f83ff;
  border-radius: 0;
  box-shadow: 0 0.5px 5px rgba(39, 43, 60, 0.35);

  a {
    color: #fff;
    &:hover{
      background-color: #000480;
    }
  }

  .dropdown {
    .dropdown-toggle {
      .user-image {
        float: left;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: -2px;
      }
    }
  }

  .dropdown-menu {
    background-color: #1f83ff;
  }

  .icon-bar {
    color: red;
  }

  #category-nav {
    li {
      &:hover {
        background-color: #230090;
      }

      a {
        text-transform: uppercase;
      }
    }

    .open {
      background-color: #230090;
    }
  }

  #nav-user {
    li {
      &:hover {
        background-color: #230090;
      }
    }

    .open {
      background-color: #230090;
    }
  }
}

#body-user {
  background-color: #d2d6de;
}

#wrapper {
  #wrapper-body {
    min-height: 83vh;

    #home-page {
      background-color: #0037ff;
    }

    #hotest {
      background-color: red;
    }

    #recent {
      background-color: gray;
    }

    a {
      color: black;
      &:hover {
        color: #619dbb;
      }
    }

    #left-bar {
      border-left: 4px solid #d2d6de;
      background-color: #fff;
      padding: 15px;
      .list-category-posts {
        margin-bottom: 20px;
      }
    }
  }
}
