#main-app {
  padding: 15px;
  border-right: 4px solid #d2d6de;
  background-color: #fff;
  #first-post {
    color: black;
    position: relative;
    img {
      height: 100%;
      width: 100%;
    }
    .description {
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.68);
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .posts-category {
    width: 100%;
    .left {
      width: 50%;
      float: left;
      padding: 10px;
      .list-post-item {
        min-height: 60px;
        position: relative;
        margin-bottom: 5px;
        height: 100%;
        display: table;
        background-color: #ededed;
        .image {
          vertical-align: top;
          width: 20%;
          display: table-cell;
          img {
            width: 100%;
          }
        }

        .post-title {
          text-align: justify;
          padding: 0 8px;
          vertical-align: top;
          width: 80%;
          display: table-cell;
          height: 100%;
          .time {
            position: absolute;
            bottom: 0;
            color: #af2796;
          }
        }

        .time {
          bottom: 0;
          font-size: 13px;
        }
      }
    }

    .category-name-horizontal {
      margin-left: 10px;
      margin-right: 10px;
    }

    .category-name-vertical {
      margin: 5px 0;
    }

    .category-name {
      border-bottom: 2px solid #ff00eb;
      .btn {
        background-color: #ffb900;
        &:hover {
          cursor: pointer;
          color: black;
          background-color: #ff86f7;
        }
      }
    }

  }
  .center {
    text-align: center;
  }
}

#list-posts {
  .list-post-item {
    min-height: 76px;
    margin-bottom: 5px;
    height: 100%;
    display: table;
    background-color: #ededed;
    a {
      vertical-align: top;
      width: 30%;
      display: table-cell;
      img {
        width: 100%;
      }
    }

    .post-title {
      text-align: justify;
      padding-left: 8px;
      vertical-align: top;
      width:70%;
      display: table-cell;
      height: 100%;
      position: relative;
      .time {
        position: absolute;
        bottom: 0;
        color: #af2796;
      }
    }

    .time {
      bottom: 0;
      font-size: 13px;
    }
  }
}

.category-name {
  .btn {
    cursor: default;
    padding: 4px 12px 2px 12px;
    text-transform: uppercase;
    color: #fff;
  }
}

.category-with-margin-bottom {
  margin-bottom: 5px;
}
