<div class="header_wrap clearfix">
  <div class="wrapper_container">
    <div class="header_content" class="clearfix">
      <div id="header_logo">
        <a href="#">
          <%= image_tag("icon.png", size: "100x100") %>
        </div>
        <a href="#">
          <%= image_tag("slogan.png") %>
        </a>
        <a href="#">
          <%= image_tag("xe_dap.jpg", size: "100x100") %>
        </a>
      </div>
    </div>
  </div>
</div>
