<div id="left-bar" class="col-md-4 col-xs-12">
  <div class="list-category-posts">
    <div class="category-name">
      <span id="hotest">
        <%= t "layouts.favourite" %>
      </span>
    </div>
    <div id="list-posts">
      <%= render "layouts/list_posts", posts: @favourite_posts %>
    </div>
  </div>
  <div class="list-category-posts">
    <div class="category-name">
      <span id="recent">
        <%= t "layouts.recent" %>
      </span>
    </div>
    <div id="list-posts">
      <%= render "layouts/list_posts", posts: @hot_posts %>
    </div>
  </div>
</div>
